# --- Project data: ignore everything, keep only __init__.py ---

# dataset (singular)
dataset/**
!dataset/__init__.py

# models
models/**
!models/__init__.py

# outputs
outputs/**
!outputs/__init__.py

__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
Thumbs.db
