# --- Project data: ignore everything, keep only __init__.py ---

# dataset (singular)
dataset/**
!dataset/__init__.py

# models
models/**
!models/__init__.py
!SimpleCNN_scripted.pt

# outputs
outputs/**
!outputs/__init__.py

# outputs
testoutput/**



__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# envs
venv/
venvtest/
build/
env/


#other
FakeVoiceFinder.egg-info/